<html>
<head>
<title>Reset Password</title>

<style type="text/css" media="all">
@import "templates/phpLdapPasswd.css";
</style>

</head>
<body>

<h1>Reset Password</h1>

<p>
This form will allow you to reset your password.  A new password will
automatically be generated and sent to the email address on file for your
account.
</p>

<!-- INSERT PHPLDAPPASSWD SUCCESS -->
<p></p>
<!-- INSERT PHPLDAPPASSWD ERROR -->
<p></p>
<!-- INSERT PHPLDAPPASSWD RESETFORM -->

<p>
If you know your current password and want to set it to something of your
own choosing, please visit the
<a href="index.php">password change</a>
page.
</p>

</body>
</head>
