<html>
<head>
<title>Password Administrator</title>

<style type="text/css" media="all">
@import "templates/phpLdapPasswd.css";
</style>

</head>
<body>

<h1>Password Administrator</h1>

<p>
This form will allow an administrator to change a password.  Please make sure
that the new password meets any applicable password policies.
</p>

<!-- INSERT PHPLDAPPASSWD SUCCESS -->
<p></p>
<!-- INSERT PHPLDAPPASSWD ERROR -->
<p></p>

<table>
<tr>
<td valign="top">
<h2>Administrator Form</h2>
<!-- INSERT PHPLDAPPASSWD ADMINFORM -->
</td>

<td>
<p>&nbsp;&nbsp;&nbsp;</p>
</td>

<td valign="top">
<h2>Password Suggestions</h2>
<!-- INSERT PHPLDAPPASSWD PASSWORDSUGGEST -->
</td>
</tr>
</table>

<p>
If you are trying to change your own password, please visit the
<a href="index.php">password change</a>
page.  If you have forgotten your current password, please visit the
<a href="reset.php">password reset</a>
page.
</p>

</body>
</head>
