<html>
<head>
<title>Change Password</title>

<style type="text/css" media="all">
@import "templates/phpLdapPasswd.css";
</style>

</head>
<body>

<h1>Change Password</h1>

<p>
This form will allow you to change your password.  Please make sure that your
new password meets any applicable password policies.
</p>

<!-- INSERT PHPLDAPPASSWD SUCCESS -->
<p></p>
<!-- INSERT PHPLDAPPASSWD ERROR -->
<p></p>

<table>
<tr>
<td valign="top">
<h2>Change Form</h2>
<!-- INSERT PHPLDAPPASSWD CHANGEFORM -->
</td>

<td>
<p>&nbsp;&nbsp;&nbsp;</p>
</td>

<td valign="top">
<h2>Password Suggestions</h2>
<!-- INSERT PHPLDAPPASSWD PASSWORDSUGGEST -->
</td>
</tr>
</table>

<p>
If you have forgotten your current password, please visit the
<a href="reset.php">password reset</a>
page.
</p>

</body>
</head>
